# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Java
*.class

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven temporary files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven wrapper
.mvn/timing.properties

# Uncomment this AFTER you remove the lib/ folder
# *.jar